@bgc: #FFF;
@mainc: #a40e0e;
@boxc: #FFCFD4;

* {
	padding: 0; 
	margin: 0; 
	box-sizing: border-box;
	font-family: 'Century Gothic', sans-serif;
}
html, body {
	height: 100%;
}
body {
	background: @bgc;
}
.container {
	width: 100%;
	height: 100%;
	background: @bgc;
	.mode-panel {
		position: fixed;
		z-index: 100;
		width: 80px;
		height: 200px;
		top: 50%;
		left: 50%;
		font-size: 14px;
		line-height: 45px;
		text-align: center;
		margin-left: -40px;
		margin-top: -100px;
		color: lighten(@mainc, 40%);
		.mode {
			border: 3px solid lighten(@mainc, 50%);
			background: lighten(@mainc, 58%);
			height: 80px;
			border-radius: 40px;
			margin-bottom: 20px;
			line-height: 18px;
			padding: 25px 0 10px;
			box-shadow: 0 2px 15px lighten(@mainc, 46%);
			text-shadow: 0 0 5px #fff;
			font-weight: bold;
			> span {
				font-size: 12px;
			}
		}
	}
	.start, .next, .retry {
		display: none;
		position: fixed;
		z-index: 100;
		width: 120px;
		height: 80px;
		border: 3px solid lighten(@mainc, 50%);
		background: lighten(@mainc, 58%);
		border-radius: 40px;
		color: lighten(@mainc, 40%);
		text-shadow: 0 0 5px #fff;
		padding: 18px 0 10px;
		top: 50%;
		left: 50%;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		margin-left: -60px;
		margin-top: -55px;
		font-weight: bold;
		> span {
			font-size: 12px;
		}
	}
	.gameover, .gameclear {
		display: none;
		position: fixed;
		z-index: 80;
		background: lighten(@mainc, 50%);
		width: 200px;
		height: 120px;
		padding: 15px;
		top: 50%;
		left: 50%;
		margin-top: -130px;
		margin-left: -100px;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 25px;
		color: @bgc;
		border-radius: 10px;
	}
	.bar {
		position: fixed;
		top: 0;
		padding: 15px;
		z-index: 30;
		opacity: 0.9;
		background: lighten(@mainc, 45%);
		color: @bgc;
		width: 100%;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 1px;
		text-align: center;
	}
	.lv {
		position: fixed;
		top: 0;
		left: 0;
		padding: 15px;
		z-index: 50;
		opacity: 0.9;
		text-align: left;
		color: @bgc;
		font-size: 12px;
		line-height: 20px;
	}
	.mute {
		position: fixed;
		z-index: 50;
		top: 13px;
		right: 15px;
		font-size: 12px;
		line-height: 16px;
		color: lighten(@mainc, 80%);
		background: lighten(@mainc, 50%);
		border: 2px solid lighten(@mainc, 80%);
		border-radius: 15px;
		padding: 2px 10px;
		&.active {
			background: lighten(@mainc, 40%);
		}
	}
	.miss {
		position: fixed;
		z-index: 50;
		top: 60px;
		right: 15px;
		color: @bgc;
		background: lighten(@mainc, 40%);
		border: 2px solid lighten(@mainc, 60%);
		border-radius: 9px;
		text-align: center;
		width: 25px;
		height: 25px;
		line-height: 20px;
	}
	.tip {
		display: none;
		position: fixed;
		z-index: 50;
		top: 30%;
		width: 100%;
		text-align: center;
		font-size: 70px;
		text-shadow: 0 0 3px lighten(@mainc, 60%);
		opacity: 0.8;
		&.tip-perfect {
			color: lighten(@mainc, 40%);
		}
		&.tip-great {
			color: lighten(@mainc, 45%);
		}
		&.tip-miss {
			color: lighten(@mainc, 50%);
		}
		&.tip-bomb {
			color: lighten(@mainc, 40%);
		}
	}
	.ground {
		display: none;
		width: 100%;
		border-top: 2px solid lighten(@mainc, 50%);
		position: fixed;
		height: 70px;
		background: lighten(@mainc, 50%);
		bottom: 0px;
	}
	.box {
		display: none;
		width: 120px;
		height: 180px;
		background-image: url('../images/box-1.gif');
		background-size: 120px 120px;
		background-repeat: no-repeat;
		background-position: center top;
		position: fixed;
		z-index: 20;
		bottom: 0;
		left: 0;
		border-radius: 10px;
		.box-miss {
			display: none;
			width: 120px;
			height: 180px;
			background-image: url('../images/box-1.png');
			background-size: 120px 120px;
			background-repeat: no-repeat;
			background-position: center top;
		}
	}
	.item {
		width: 40px;
		height: 40px;
		position: fixed;
		z-index: 30;
		top: -30px;
		left: 0;
		&.item0 {
			background-image: url('../images/item0.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		&.item1 {
			background: url('../images/item1.png') center center no-repeat;
			background-size: 40px 40px;
		}
		&.item2 {
			background: url('../images/item2.png') center center no-repeat;
			background-size: 40px 40px;
		}
		&.item3 {
			background: url('../images/item3.png') center center no-repeat;
			background-size: 40px 40px;
		}
		&.item4 {
			background: url('../images/item4.png') center center no-repeat;
			background-size: 40px 40px;
		}
		&.item5 {
			background: url('../images/item5.png') center center no-repeat;
			background-size: 40px 40px;	
		}
	}
	.circle {
		display: none;
		position: fixed;
		z-index: 120;
		width: 140px;
		height: 140px;
		border-radius: 70px;
		border: 4px solid lighten(@mainc, 45%);
		background-color: #fff;
		left: 50%;
		margin-left: -70px;
		top: 100%;
		margin-top: 50px;
		&.circle-clear {
			background-image: url('../images/box-1.gif');
			background-size: 160px 160px;
			background-position: -42px 12px;
			background-repeat: no-repeat;
		}
		&.circle-over {
			background-image: url('../images/box-1.png');
			background-size: 160px 160px;
			background-position: -42px 12px;
			background-repeat: no-repeat;
		}
	}
	.gift {
		position: fixed;
		z-index: 120;
		width: 100%;
		height: 250px;
		bottom: -250px;
		&#gift1, &#gift2, &gift3 {
			background: url('../images/gift1.png') 50% -10% no-repeat;
		}
		&#gift4, &#gift5, &gift6 {
			background: url('../images/gift1.png') 20% -5% no-repeat;
		}
		&#gift7 {
			background: url('../images/gift1.png') -10% top no-repeat;
		}
	}
}
.spec {
	display: none;
	position: fixed;
	z-index: 100;
	top: 15%;
	left: 15%;
	right: 15%;
	background: lighten(@mainc, 55%);
	border-radius: 30px;
	padding: 30px;
	.bonus-group {
		.images {
			img {
				width: 40px;
				height: 40px;
				padding: 5px;
				border: 2px solid lighten(@mainc, 50%);
				background: #fff;
				border-radius: 10px;
				float: left;
				margin: 0 5px 5px;
			}
		}
		.text {
			text-align: left;
			color: lighten(@mainc, 40%);
			font-weight: bold;
			line-height: 18px;
			font-size: 14px;
			margin: 5px 10px;
		}
		&.minus-group {
			margin-top: 10px;
		}
	}
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

#preload-0 {
	background: url('../images/item0.png') no-repeat -9999px -9999px;
}
#preload-1 {
	background: url('../images/item1.png') no-repeat -9999px -9999px;
}
#preload-2 {
	background: url('../images/item2.png') no-repeat -9999px -9999px;
}
#preload-3 {
	background: url('../images/item3.png') no-repeat -9999px -9999px;
}
#preload-4 {
	background: url('../images/item4.png') no-repeat -9999px -9999px;
}
#preload-5 {
	background: url('../images/item5.png') no-repeat -9999px -9999px;
}