* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Century Gothic', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background: #ffffff;
}
.container {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.container .start,
.container .next {
  display: none;
  position: fixed;
  z-index: 100;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 45px;
  text-align: center;
  margin-left: -60px;
  margin-top: -20px;
  background: #cba58a;
  font-weight: bold;
}
.container .gameover,
.container .gameclear {
  display: none;
  position: fixed;
  z-index: 80;
  background: #dbc0ad;
  width: 200px;
  height: 140px;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 10px;
}
.container .bar {
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 30;
  opacity: 0.9;
  background: #c39778;
  color: #ffffff;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.container .lv {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 50;
  opacity: 0.9;
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
.container .miss {
  position: fixed;
  z-index: 50;
  top: 60px;
  right: 15px;
  color: #ffffff;
  background: #cba58a;
  border: 2px solid #eadbd1;
  border-radius: 9px;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 20px;
}
.container .tip {
  display: none;
  position: fixed;
  z-index: 50;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 70px;
  text-shadow: 0 0 3px #eadbd1;
  opacity: 0.8;
}
.container .tip.tip-perfect {
  color: #cba58a;
}
.container .tip.tip-great {
  color: #d3b39b;
}
.container .tip.tip-miss {
  color: #dbc0ad;
}
.container .tip.tip-bomb {
  color: #cba58a;
}
.container .ground {
  display: none;
  width: 100%;
  border-top: 2px solid #cba58a;
  position: fixed;
  bottom: 70px;
}
.container .box {
  display: none;
  width: 120px;
  height: 180px;
  background-image: url('../images/box-mc.gif');
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}
.container .box .box-miss {
  width: 120px;
  height: 180px;
  background-image: url('../images/box-mc.png');
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: center top;
}
.container .item {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 30;
  top: -30px;
  left: 0;
}
.container .item.item0 {
  background: url('../images/item0.png') center center no-repeat;
  background-size: 40px 40px;
}
.container .item.item1 {
  background: url('../images/item1.png') center center no-repeat;
  background-size: 40px 40px;
}
.container .item.item2 {
  background: url('../images/item2.png') center center no-repeat;
  background-size: 40px 40px;
}
.container .item.item3 {
  background: url('../images/item3.png') center center no-repeat;
  background-size: 40px 40px;
}
.container .item.item4 {
  background: url('../images/item4.png') center center no-repeat;
  background-size: 40px 40px;
}
.container .item.item4 {
  background: url('../images/item5.png') center center no-repeat;
  background-size: 40px 40px;
}
.container .gift {
  position: fixed;
  z-index: 120;
  width: 100%;
  height: 250px;
  bottom: -250px;
}
.container .gift#gift1 {
  background: url('../images/gift1.png') center top no-repeat;
}
.container .gift#gift2 {
  background: url('../images/gift1.png') center top no-repeat;
}
.container .gift#gift3 {
  background: url('../images/gift1.png') center top no-repeat;
}
.spec {
  display: none;
  position: fixed;
  z-index: 100;
  top: 15%;
  left: 15%;
  right: 15%;
  background: #eadbd1;
  border-radius: 30px;
  padding: 30px;
}
.spec .bonus-group.minus-group {
  margin-top: 30px;
}
.spec .bonus-group .images {
  float: left;
  width: 50px;
}
.spec .bonus-group .images img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid #dbc0ad;
  background: #fff;
  border-radius: 10px;
}
.spec .bonus-group .text {
  float: right;
  text-align: center;
  color: #bc8a66;
  font-weight: bold;
  line-height: 40px;
  font-size: 20px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#preload-0 {
  background: url('../images/item0.png') no-repeat -9999px -9999px;
}
#preload-1 {
  background: url('../images/item1.png') no-repeat -9999px -9999px;
}
#preload-2 {
  background: url('../images/item2.png') no-repeat -9999px -9999px;
}
#preload-3 {
  background: url('../images/item3.png') no-repeat -9999px -9999px;
}
#preload-4 {
  background: url('../images/item4.png') no-repeat -9999px -9999px;
}
#preload-5 {
  background: url('../images/item5.png') no-repeat -9999px -9999px;
}
