* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Century Gothic', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background: #ffffff;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.container .progressbar {
  width: 100%;
}
.container .progressbar #progressbar {
  position: fixed;
  bottom: 20px;
  left: 5%;
  width: 90%;
}
.container .progressbar #progressbar .ui-widget-header {
  background: #f7a1a1;
  border: 0px;
}
.container .progressbar #progressbar .ui-progressbar-value {
  margin: 0px;
}
.container .progressbar .ui-widget-content {
  background: #ffffff!important;
}
.container .progressbar .ui-progressbar {
  height: 15px;
}
.container .game_box {
  width: 370px;
  height: 520px;
  box-shadow: 0px 0px 1px #FFD0D1;
  border: 1px solid #ff8894;
  border-radius: 5px;
  padding: 9px;
  margin: 70px auto 10px;
}
.container .boxcolumn {
  display: inline-block;
}
.container .box {
  display: block;
  width: 46px;
  height: 46px;
  text-align: center;
  font-size: 0px;
  line-height: 0px;
  border-radius: 8px;
  margin: 4px 2px;
  background-size: 100% 100%;
  background-color: #ffadc2;
}
.container .box.box0 {
  background-image: url('../images/g2/1.png');
  background-color: red;
}
.container .box.box1 {
  background-image: url('../images/g2/2.png');
  background-color: yellow;
}
.container .box.box2 {
  background-image: url('../images/g2/3.png');
  background-color: green;
}
.container .box.box3 {
  background-image: url('../images/g2/4.png');
  background-color: blue;
}
.container .box.box4 {
  background-image: url('../images/g2/5.png');
  background-color: pink;
}
.container .box.box5 {
  background-image: url('../images/g2/6.png');
  background-color: orange;
}
.container .original {
  position: relative;
  top: -38px;
}
.container .inactivebox {
  opacity: 0.2;
}
.container .bonus {
  display: none;
  position: absolute;
  z-index: 20;
  font-size: 16px;
  text-shadow: 0px 0px 5px #ff8894;
}
.container .alertbox {
  display: none;
  position: absolute;
  z-index: 10;
  top: 155px;
  left: 50%;
  margin-left: -77px;
  width: 150px;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #ffcccc;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.container .start,
.container .retry {
  display: none;
  position: fixed;
  z-index: 100;
  width: 120px;
  height: 80px;
  border: 3px solid #f9b8b8;
  background: #fcdede;
  border-radius: 40px;
  color: #f58989;
  text-shadow: 0 0 5px #fff;
  padding: 18px 0 10px;
  top: 50%;
  left: 50%;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-left: -60px;
  margin-top: -55px;
  font-weight: bold;
}
.container .start > span,
.container .retry > span {
  font-size: 12px;
}
.container .gameover {
  display: none;
  position: fixed;
  z-index: 80;
  background: #f9b8b8;
  width: 200px;
  height: 120px;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -100px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 10px;
}
.container .bar {
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 30;
  opacity: 0.9;
  background: #f7a1a1;
  color: #ffffff;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.container #timer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 50;
  opacity: 0.9;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}
.container .mute {
  position: fixed;
  z-index: 50;
  top: 13px;
  right: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #f9b8b8;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 2px 10px;
}
.container .mute.active {
  background: #f58989;
}
.container .circle {
  display: none;
  position: fixed;
  z-index: 120;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 4px solid #f7a1a1;
  background-color: #fff;
  left: 50%;
  margin-left: -70px;
  top: 100%;
  margin-top: 50px;
}
.container .circle.circle-clear {
  background-image: url('../images/box-1.gif');
  background-size: 160px 160px;
  background-position: -42px 12px;
  background-repeat: no-repeat;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
